<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= link_to gravatar_for user %>
        <%= link_to "#{user.name}", user_path(user) %> | 
        <% if !current_user?(user) %>
        <%= link_to "Chat", message_user_user_path(user) %>
        <% end %>
        <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "(#{user.id})", switch_user_user_path(user) %><h5>
        <%= link_to "Make/Remove admin", make_admin_user_path(user.id) %></h5><h1></h1>
        <%= button_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
      </h1>
    </section>
  </aside>
</div>