<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section><br>
    <div class="row">
    <div class="col-md-6 mb-4">    
        <ul class="list-group">
            <li class="list-group-item">
              <div class="md-v-line"></div><i class="fas fa-laptop mr-4 pr-3"></i><%= link_to 'MediaUpload', media_file_upload_user_path(@user) %>
            </li>
            <li class="list-group-item">
              <div class="md-v-line"></div><i class="fas fa-bomb mr-5"></i><%= link_to 'Media Directory', media_view_user_path(current_user) %>
            </li>            
        </ul>    
    </div>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>