<% if @message_feed.any? %>
  <ol class="messages">
    <% @message_feed.each do |message| %>
    <% if !current_user?(message.user_id) %>
    <div class="container-fluid">
    <span style="float: left;"><%= gravatar_for User.find(message.user_id) %></span>
    <span class="content"><%= message.content %></span>
    <span class="time-left">
      Posted <%= time_ago_in_words(message.created_at) %> ago.
    </span></div><br>
    <% else %>
    <div class="container-fluid">
    <span style="float: right;"><%= gravatar_for User.find(message.receiver_id) %></span>
    <span class="content"><%= message.content %></span>
    <span class="time-right">
      Posted <%= time_ago_in_words(message.created_at) %> ago.
    </span></div><br>
    <% end %>
    <% end %>
    <%= will_paginate @message_feed %>
  </ol>
<% end %>